@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


$lightGreen: #5ECE7B;
$overlayColor:  #39374838;
$blackColorText: #1D1F22;
$Releway: 'Raleway', sans-serif;
$SourceSansPro:  'Source Sans Pro', sans-serif;
$RobotoCondensed: 'Roboto Condensed', sans-serif;

#navbar{
    padding-left: 4rem;
    padding-right: 4rem;
    *{
        margin:0px;
        padding:0px;
        box-sizing: border-box;
    }
    
    nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        min-height: 8vh;
        background-color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    .ul_navbar{
        display: flex;
        justify-content: space-around;
        width: 16%;
        height: 46px;
        .li{
            list-style: none;
            line-height: 42px;
        }
        .li:hover{
            border-bottom: 2px solid $lightGreen;
            line-height: 42px;
        }
       .li_green{
            border-bottom: 2px solid $lightGreen;
            line-height: 42px;
            list-style: none;
            line-height: 42px;
        }
        .link{
            color: $blackColorText;
            text-decoration: none;
            font-size: 14px;
            line-height: 19.2px;
            font-family: $Releway;
        }
        .link:hover{
            color:$lightGreen;
        }
        .link_green{
            color:$lightGreen;
            text-decoration: none;
            font-size: 14px;
            line-height: 19.2px;
            font-family: $Releway;
        }
        
    }
    .ul_navbar2{
        display: flex;
        justify-content: space-around;
        width: 6%;
        li{
            list-style: none;
        }
       .dollar_sign{
           font-weight: 500;
           font-size: 18px;
       }
       .price_cart{
           cursor: pointer;
           position: relative;
           .cart_dropdown{
            padding: 10px;
            display: grid;
            position: absolute;
            right: 1%;
            width: 200px;
        }
        .hide{
            display: none;
        }
       }
        
    }
    .div_middle_icon{
        width:16%;
    }
}
.container{
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: auto;
    margin-left: auto;
    *, ::after, ::before {
        box-sizing: border-box;
    }
.title{

font-family: $Releway;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 160%;
color: $blackColorText;

}
.grid_items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    .card:hover {
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    }
   


    .card{
        max-width: 300px;
        margin: auto;
        text-align: left;
        padding:20px;
        .img_div{
            
            .card_img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: 23vw;
                object-fit: cover;
                padding-bottom: 15px;
            }
        }
        
        .card_text{
            .item_name{
                font-size: 18px;
                font-weight: 300;
                font-family:$Releway;
                color:$blackColorText;
                line-height: 28.8px;
            }
            .item_price{
                font-size: 18px;
                font-weight: 500;
                font-family:$Releway;
                color:$blackColorText;
                line-height: 28.8px;
            }
        }
    }

    .card.card_disabled{
        opacity: 0.5;
    }
}
}


//pdp page
.container_pdp{
    .pdp_grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 10px;
        padding: 3rem 2rem;
        .col_one{
            .image_gallery{
                height: 100%;
                width: 100%;
            }
        }
        .col_two{
            padding: 0rem 5rem;
            .add_to_card{
                background: $lightGreen;
                color:white;
                font-family: $Releway;
                font-weight: 600;
                font-size: 16px;
                line-height: 19.2px;
                text-align: center;
                width: 292px;
                height: 52px;
                padding: 16px 32px;
                border:none;
            }
            .size_section{
                display:grid;
                grid-template-columns: 63px 63px 63px 63px;
                column-gap: 15px;
                .btn_size{
                   
                    width: 63px;
                    height: 45px;
                   
                    border: 1px solid $blackColorText;
                    font-family: $SourceSansPro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.05em;
                    color: $blackColorText; 
                    background-color: white;
                   
                }
                .btn_size:disabled{
                    border:1px solid #A6A6A6;
                    color:#A6A6A6;
                }
            }
            .product_title{
                color: $blackColorText;
                font-family: $Releway;
                font-weight: 600;
                font-size: 30px;
                line-height: 27px;
            }
            .product_name{
                color:$blackColorText;
                font-family: $Releway;
                font-weight: 400;
                font-size: 30px;
                line-height: 27px;
            }
            .sizes_text{
                font-family: $RobotoCondensed;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                color:$blackColorText;
            }
            .prices_section{
                .price_title{
                    font-family: $RobotoCondensed;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 18px;
                    color:$blackColorText;
                }
                .price_number{
                    font-family: $Releway;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 18px;
                    color:$blackColorText;
                }
            }
        }
    }


    .out_section_grid{
        display: grid;
    }
   
}


